@use "partials/base";
@use "partials/md";
@use "partials/templates";

body {
    background-color: var(--halcyon-bg);
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

html {
    font-family: var(--font-sans);
}

#main-content {
    flex: 1 0 auto;
}

// Set reading length on pages
.container {
    width: min(calc(100% - (2 * var(--page-padding-inline))), var(--container));
    margin-inline: auto;
    margin-top: var(--space-5);
}