{% extends "base.html" %}

{% block content %}
  <article>
    <p><a href="/{{ config.extra.blog_section }}">← back</a></p>
    <header>
      <h1>{{ page.title }}</h1>
      <div class="post-subtitle"> 
        {% if page.date %}
          <i data-lucide="calendar"></i>  
          <time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>
        {% endif %}

        {% if config.extra.show_reading_time | default(value=true) %}
          <span> • </span>
          <i data-lucide="clock"></i>  
          <span>{{ page.reading_time }} min read</span>
        {% endif %}
        {% set_global tags = page.taxonomies["tags"] %}
        {% if tags | length > 0 %}
          <span> • </span>
          <i data-lucide="tag"></i>  
          {% include "partials/tags.html" %}
        {% endif %}
     </div>
    </header>

    {% set toc_marker = "<p>[TOC]</p>" %}
    {% if page.content is containing(toc_marker) %}
      {% include "partials/toc.html" %}
    {% endif %}
    {{ page.content | replace(from=toc_marker, to="") | safe }}
  </article>
{% endblock content %}
