{# This template renders one taxonomy term page (for example one tag). #}
{% extends "base.html" %}

{% block content %}
  <section>
    <header>
      <h1> {{ term.name }}</h1>
      {% set url = get_url(path=taxonomy.slug) %}
      <a href="{{ url }}">All {{ taxonomy.name }}</a>
      {% if section.generate_feed %}
        <a href="{{ section.permalink }}atom.xml">Atom Feed</a>
      {% endif %}
    </header>

    <div class="posts">
      {% for post in term.pages | sort(attribute="date") | reverse %}
        {% set_global post_item = post %}
        {% include "partials/post_card.html" %}
      {% endfor %}
    </div>
  </section>
{% endblock content %}
