.tags {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-unit);

    overflow: hidden;
    white-space: nowrap;
    min-width: 0;
    max-width: 100%;

    --tags-fade-width: 3em;

    -webkit-mask-image: linear-gradient(
        to right,
        #000 0,
        #000 calc(100% - var(--tags-fade-width)),
        transparent 100%
    );
    -webkit-mask-repeat: no-repeat;

    mask-image: linear-gradient(
        to right,
        #000 0,
        #000 calc(100% - var(--tags-fade-width)),
        transparent 100%
    );
    mask-repeat: no-repeat;
}